<%= link_to "ホーム", root_path %><br><br>
こんにちは、
<%= link_to current_user.email, "/users/show" %>
<br><br>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<br />
<hr /><br />
<h1>プロファイル</h1>
<h3>メールアドレス</h3>
<p><%= current_user.email %></p>
